*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

body{
    margin: 0px 15%;
    padding: 4px;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    color: white;
    background: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}

header{
    margin: 0;
    
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: #000000;
}

#hamburger{
  display: none;
  flex-direction: column;
  background: none;
  justify-content: center;
  border: none;
  cursor: pointer;
}

#hamburger img{
    width: 100%;
}

.menu{
    margin: 0;
    padding: 0;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav p{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    /* background-color: radial-gradient(135deg, var(--darkblue), var(--white)); */
    justify-content: center;
    color: yellow;

}

a{
  color: inherit;
  text-decoration: none;
}

img{
    width: 12rem;
    background: none;
}

.hero img{
    width: 20rem;
}

main{
    margin: 0;
    background: #000000;
    column-gap: 4px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    background: none;
}
#perfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

#titulo-perfil{
    text-align: center;
    margin-top: 60px;
    padding-top: 20px;
}

form{
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    background: none;
}

form label{
    background: black;
}

form input:focus{
    outline: 3px solid greenyellow
}

.div-fieldsets{
    margin: 0;
    padding: 10px;
    width: 50%;
    background: none;
    font-size: small;
}

#form-pessoal{
    display: flex;
    flex-direction: column;
}

#fieldset-pessoal{
    padding: 20px;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
     
legend{
    color: yellow;
    font-style: italic;
    font-weight: bold;
}


.inputs-pessoal{
    margin-bottom: 15px;

}

input{
    background: black;
    border: 2px solid yellow;
    border-radius: 10px;
    color: white;
    height: 1rem;
    padding: 15px;
    width: 75%;
}

label{
    background: white;
}

#fieldset-techs{
    padding: 10px;
}

#form-techs{
    display: flex;
    flex-direction: column;
    
}

input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 12px;
    height: 20px;
    width: 20px;
    accent-color: yellow;
    cursor: pointer;
}

select{
    background: black;
    font-size: small;
    color: white;
    border: 2px solid yellow;
    border-radius: 10px;
    height: 1rem;
    padding: 15px;
    cursor: pointer;
    width: 75%;
}
select options{
    background: none;
    color: white;
}
#div-formButtons{
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

form button{
    margin: auto;
    cursor: pointer;
    padding: 0.5rem;
    height: auto;
    height: 4rem;
    width: 30%;
    border: 2px solid yellow;
    border-radius: 15px;
    color: white;
}

#limp-form{
    border: 1px solid white;
    background: rgb(19, 19, 19);
    color: rgb(166, 165, 165);
}

#aceita-remotas{
    display: inline;
}

#form-perfil input:focus {
    outline: 2px solid green;    
}

#feedback-usuario{
    margin: 0.4rem;
    padding: 5px;
    border: 2px solid yellow;
    border-radius: 10px;
    height: 4rem;
    align-content: center;
    text-align: center;
}

#recap-perfil{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    
}

#card-perfil{
    /* justify-content: space-around; */
    text-align: center;
    width: 60%;
    margin: auto;

}

#recap-perfil h2{
    text-align: center;
    color: yellow;
    margin: 20px;

}

li{
    list-style: none;
}

#resultados{
    margin: 0;
    align-content: center;
    background: none;
}

#titulo-resultados{
    text-align: center;
    margin-top: 40px;
    
    background: none;
}

.vagasButtons{
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background: black;
}

.buttons-vagas{
    /* width: 20%; */
    /* height: 4rem; */
    margin: auto;
    cursor: pointer;
    padding: 0.5rem;
    /* height: auto; */
    height: 4rem;
    width: 30%;
    border: 2px solid yellow;
    border-radius: 15px;
    color: white;

}

#limpar-vagas{
    border: 1px solid white;
    background: rgb(19, 19, 19);
    color: rgb(166, 165, 165);
}

#feedback-vagas{
    margin: auto;
    padding: 5px;
    border: 2px solid yellow;
    border-radius: 10px;
    height: 4rem;
    width: 70%;
    align-content: center;
    text-align: center;
}

#container-cardsResultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1 1 1 1;
    padding: 20px;
    gap: 1rem;
    background: none;
}

/* #container-cardsResultados > * {
  flex: 1 1 15,62rem;
} */

.resumo-vaga{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 4px solid white;
    background: yellow;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    color: black;
    
}
.resumo-vaga h4{
    background: none;
    justify-content: space-around;
}

.resumo-vaga p{
    background: none;
    justify-content: space-around;
}

.card-vaga{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: smaller;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 25px;
    padding: 10px;
    width: 20rem;
    height: 20rem;
}

.match{
    margin-top: 30px;
    font-size: 30px;
}
.score{
    font-size: 70px;
    margin-bottom: 30px;
}

#badges1{
    display: flex;
    justify-content: space-evenly;
}

.badge{
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 10px;
    background: yellow;
    color: black;
}

#badges2{
    display: flex;
    justify-content: space-evenly;
}

footer{
    margin: 0;
    border: 2px solid white;
    height: 40px;
    background: rgb(85, 80, 80);
}

@media(max-width:768px){
  #hamburger{
    display: flex;
    margin-right: 20px;
  }
  .menu{
    position: absolute;
    padding: 20px;
    text-align: right;
    top: 30px;
    right: 30px;
    gap: 10px;
    background: rgb(40, 40, 40);
    border: 2px solid yellow;
    border-radius: 30px;
    width: 30%;
    flex-direction: column;
    display: none;
  }
  .menu p{
    color: white;
  }

  .menu.ativa{
    display: flex;
  }
}